@tailwind base;
@tailwind components;
@tailwind utilities;

html:focus-within {
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: white;
}

/* Carousel */
.mySwiper {
    width: 100%;
    height: 20rem;
}

@media (min-width: 640px) {
    .mySwiper {
        height: 35rem;
    }
}

.swiper-slide {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.95);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ffffffdd;
}

/* carousel previous and next btn */
.swiper-button-next,
.swiper-button-prev {
    color: #ffffff;
    display: none;
}

@media (min-width: 600px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2.5rem;
    font-weight: 600;
}

/* scroll-to-top btn */
.scroll-to-top {
    background-color: #ea4961 !important;
    animation: scrollani 700ms infinite alternate ease-in;
}

@keyframes scrollani {
    0% {
        transform: translateY(0.75rem);
    }

    100% {
        transform: none
    }
}