@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html:focus-within {
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
    height: 100%;
}

/* Set core body defaults */
body {
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(255, 255, 255);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.header-nav {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(82 82 82);
    transition: color 300ms ease-in;
}

.header-nav.active {
    font-weight: 600;
    color: rgb(28, 100, 242);
}

.footer-nav .active {
    font-weight: 500;
    color: gold;
}

.nav-item {
    position: relative;
}

.header-nav::after {
    content: ' ';
    position: absolute;
    display: block;
    background-color: rgb(28, 100, 242);
    border-radius: 1000vmax;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.nav-item:hover .header-nav::after {
    transform: scaleX(1);
    transform-origin: left;
}

.header-nav:hover {
    color: rgb(28, 100, 242);
}

/* Carousel */
.mySwiper {
    width: 100%;
    height: 20rem;
}

@media (min-width: 640px) {
    .mySwiper {
        height: 35rem;
    }
}

.swiper-slide {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.95);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ffffffdd;
}

/* carousel previous and next btn */
.swiper-button-next,
.swiper-button-prev {
    color: #ffffff;
    display: none;
}

@media (min-width: 600px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2.5rem;
    font-weight: 600;
}

/* blog post */
@media (min-width: 768px) {
    .blog-post-item:nth-child(even) {
        flex-flow: row-reverse;
    }
}

/* scroll-to-top btn */
.scroll-to-top {
    background-color: #ffffff !important;
    animation: scrollani 700ms infinite alternate ease-in;
}

@keyframes scrollani {
    0% {
        transform: translateY(0.75rem);
    }

    100% {
        transform: none
    }
}

/* category tabs (virtual tours) */
.tab-item {
    position: relative;
    transition: all 350ms ease-in;
}

.tab-item-active::after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1c64f2;
    bottom: 0;
    left: 0;
    transition: all 350ms ease-in;
}

/* About page */

.profile-detials {
    letter-spacing: 4px;
}